.s1{
    width: 65%;
    background-color:rgba(0, 0, 0, 0.253);
    
}
.forall{
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

h2{
    font-weight: bolder;
}

.jbl p{
    color: rgb(176, 172, 172);
}

.im img{
    height: 100px;
    width: 100px;
    padding: 20px;
}
.s2{
    height: 200px;
    width: 100%;
    display: flex;
    margin-top: 70px;
}

.s6 pre {
   position: relative;
   right:110px; 
   font-weight: bold;

}

.s3 pre{
    position: relative;
    right:140px;
    font-weight: bold;
}

.s7 pre{
    position: relative;
    right:78px;
    font-size:70%;
    font-weight: bold;
}

.p2{
    height: 200px;
    width: 100%;
    display: flex;
}
.rupee{
    display: flex;
    gap: 5%;
}
hr{
    color: rgb(58, 51, 51);
}

i{
    color: white;
    margin-top: 20px;
}
.remove i{
    position: relative;
    left: 100px;
}
.rem i{
    position: relative;
    left: 130px;
}
.rate{
    display: flex;
    color: white;
    gap:130%; 
    padding: 10%;
}
.rate i{
    top:5px;
    position: relative;
}
.rate pre{
    bottom: 25px;
    position: relative;
    font-size:16px;
    color:rgb(210, 208, 208);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color:red;
    height: 40px;
    width: 340px;
    position: relative;
    bottom:90px;
    left:76px;
    color:white;
    
}
.inc{
    display: flex;
    position: relative;
    top: 180PX;
    right: 180PX;
}
.s4{
    display: flex;
    gap: 150px;
}
.one{
    background-color: grey;
}
.two{
    background-color: black;
}
.inc button{
    height: 40px;
    width: 50px;
}