

P{
    font-size:18px;
    position: relative;
    left:2%;
    color:white;
}


.header i{
   position: relative;
   left:75%;
   padding:20PX;  
}

img{
    width:480px;
    height:420px;
    display: flex;
    justify-content:space-evenly;

}

.total{
    overflow: hidden;
    background-color:rgb(71, 67, 67);
}

pre{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    padding:70px; 
}


.left{
    position: relative;
    padding:67px; 
    bottom:36px;
}

.left pre{
    position:relative;
    right:75px;
    bottom: 100px;
    font-weight:bold;
}


.container1{
    display: flex;
}

.price i{
    text-decoration:line-through;
    color: hsl(0, 4%, 87%);
    font-size: 12px;
    
}

.cost{
    position: relative;
    top:200px;
    right:560px;
    display: flex;
    gap: 16px;
    color:white;
}


 .cost button{
    width:109px;
    height:38px;
    position: relative;
    right:125px;
    top: 60px;
    background-color:red;
    color: white;
}

.right{
    position: relative;
    right:260px;
}

.second{
 color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 justify-content: center;
 align-items: center;
 display: flex; 
 font-size:19px;
}
/* product1 */

.products img{
    width:130px;
    height:130px;
    position: relative;
    bottom:65px;
    left:52px;
}

.price1{
    position: relative;
    display: flex;
    gap: 16px; 
    color:white;
    bottom:50px;
    left:80px;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pri{

font-size:8px;
text-decoration: line-through;
color: rgb(157, 152, 152);
}


/* product 2 */
.p2 img{
    width:170px;
    height:170px;
    position: relative;
    bottom:90px;
    left:52px; 
}

.price2{
    position: relative;
    display: flex;
    gap: 16px; 
    color:white;
    bottom:17%;
    left:80px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pr{

font-size:10px;
text-decoration: line-through;
color: rgb(157, 152, 152);
}

.p2 pre{
    position: relative;
    bottom:30px;
    
}

.allpics{
    display: flex;
}



/* product 3 */


.p3 img{
    width:240px;
    height:230px;
    position: relative;
    bottom:150px;
    left:30px; 
}

.price3{
    position: relative;
    display: flex;
    gap: 25px; 
    color:white;
    bottom:30%;
    left:80px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pr1{

font-size:11px;
text-decoration: line-through;
color: rgb(157, 152, 152);
}


.p3 pre{
    position: relative;
    bottom:70px;

}
 




/* product 4 */

.p4 img{
    width:170px;
    height:170px;
    position: relative;
    bottom:90px;
    left:52px; 
}

.price4{
    position: relative;
    display: flex;
    gap: 16px; 
    color:white;
    bottom:17%;
    left:80px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pr2{

font-size:10px;
text-decoration: line-through;
color: rgb(157, 152, 152);
}


.p4 pre{
    position: relative;
    bottom:24px;
 

}
 
 
/* products5 */
.p5 img{
    width:130px;
    height:130px;
    position: relative;
    bottom:47px;
    left:52px;
}

.price5{
    position: relative;
    display: flex;
    gap: 16px; 
    color:white;
    bottom:20px;
    left:80px;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.pr3{

font-size:8px;
text-decoration: line-through;
color: rgb(157, 152, 152);
}


.p5 pre{
    position: relative;
    top:10px;
}



 .top p{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:30px;
    position: relative;
    right:49px;
    font-weight: bold;
 }


.top ul{
    display: flex;
    color:white;
    gap:160px;
    width: 85%;
    justify-content: center;
    align-items: center;
    font-size:17px;
    padding:45px;
    
}

.products{
    width: 99%;
    height:40px;
}



/*  top products start */



.container{
    height: 1400px;
    width: 100%;

}
.x{
    height: 450px;
    width: 99%;
    /* border: 1px solid white; */
    margin:0.1%;
    display: flex;
}
.bo i{
    color: white;
}

.bo{
    display: flex;
    gap:17px;
    position: relative;
    bottom:10px;
    

}


.add input{
     background-color: red;
     width:210px;
     height: 40px;
     position: relative;
     bottom: 43px;
}  

.y{
    height:420px ;
    width: 100%;
    position: relative;
    bottom: 0.1%;
    border: 1px solid grey;
    margin: 0.5% 0.5% 0.5% 0.5%; 
}
.y img{
    height: 190px;
    width: 190px;
    position: relative;
    top:4%;
    left:12%; 
}
.boxx{
    position: relative;
    left: 20px;
    top:37px;
    bottom:50px;
    

}


.boxx h3{
  position: relative;
  bottom:10px;
}


.boxx i{
    color: red;
    font-size:11px;
}
.boxx h3{
    color: white;
}
.boxx p{
    color: white;
    font-size:13px;
    position: relative;
    left:1px;
    bottom:20px;
    
}

hr{
    position: relative;
    bottom:20px;
    right:20px;
    width: 270px;
}





.adv i{
    color: red;
    position: relative;
    top: 50px;
    right: 16%;
    font-size:22px;
}
.adv1 pre{
    color:gray;
    position: relative;
    right: 26%; 
    bottom: 80px;  
    font-size:12px;
    
}

  
.adv{
    display: flex;
    align-items: center;
    padding:8%; 
    position: relative;
    right: 20px; 
}
.adv1 p{
    color: white;

}

.adv1 h3{
    color: white;
}

.adv{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
}
.container3{
    display: flex;
    gap:80px;
}


.tech h4{
color: white;
left:50px;
position: relative;
font-size:17px;
}


.tech h2{
    color: white;
    gap:25%;
}


.tech li{
    color:gray;
      padding:10px;  
    /* position: relative;
     right:90%;  */
     gap:20%;
     
}



.tech pre{
    font-size: 16px;
    color:gray;
    position: relative;
    right:68px;
    bottom:90px;
}

button{
    width:40%;
    background-color:red;
    color:white;
    
}


.info{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    padding: 5px;
    }


    #mail{
        padding: 10px;
        margin-bottom: 5px;
        background-color: black;
        position: relative;
        top:10px;
        color: gray;
        width:70%;
        font-size:17px;

    }
    .container4{
        display: flex;
        justify-content: space-between;
    }
    .brand{
        color: white;
        top:15px;
        position: relative;
        display: flex;
        gap: 80%;
        right: 20%;
    }
    .rights{
        color: rgb(210, 203, 203);
    }
    
     .end{
        position: relative;
        bottom:160px;
        color: white;
        gap:25px;
        display: flex;
        flex-direction: column;

        
     }





















    
@media screen and (min-width:375px) and (max-width:425px) {
 

P{
    font-size:18px;
    position: relative;
    left:6%;
    color:white;
    font-size:xx-small;
}


.header i{
   position: relative;
   left:34%;
   padding:4%; 
    
}


img{
    
    width:160px;
    height:160px;
    display: flex;
    justify-content:space-evenly;
    top:10px;
    position: relative;
    left:290%;

}

.total{
    overflow: hidden;
    background-color:rgb(61, 22, 22);
}

pre{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    padding:70px; 
}


.left{
    position: relative;
    padding:5%; 
    bottom:30px;
    font-size:1px;
}

.left pre{
    position:relative;
    right:58px;
    bottom: 75px;
    font-weight:bold;
    font-size:14px; 
}


.container1{
    display: flex;
}

.price i{
    text-decoration:line-through;
    color: hsl(0, 4%, 87%);
    font-size: 8px;
    
}

.cost{
    position: relative;
    top:70px;
    right:280px;
    display: flex;
    gap: 10px;
    color:white;
    font-size:10px;
}


}







    
